<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(122, 166, 255);
  }

  main {
    width: 400px;
    color: black;
  }

  footer> {
    color: black;
  }
</style>
<form action="" method="post">
  <div class="mb-3">
    <label for="idSocio" class="form-label">Membership card:</label>
    <input type="text" class="form-control" id="idSocio" name="idSocio" value="<?= $socio['idSocio'] ?>">
  </div>
  <div class="mb-3">
    <label for="nombre" class="form-label">Name:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" value="<?= $socio['nombre'] ?>">
  </div>
  <div class="mb-3">
    <label for="edad" class="form-label">Age:</label>
    <input type="text" class="form-control" id="edad" name="edad" value="<?= $socio['edad'] ?>">
  </div>
  <div class="mb-3">
    <label for="genero" class="form-label">Gender:</label>
    <input type="text" class="form-control" id="genero" name="genero" value="<?= $socio['genero'] ?>">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>