<div class="container mt-3">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Membership card</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Options</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($socios as $socio) { ?>
      <tr>
        <td>
          <?php echo $socio['idSocio']; ?>
        </td>
        <td>
          <?php echo $socio['nombre']; ?>
        </td>
        <td>
          <?php echo $socio['edad']; ?>
        </td>
        <td>
          <?php echo $socio['genero']; ?>
        </td>
        <td>
          <a class="btn btn-info btn-lg" onclick='eliminarSocio()' href="insertar.php?eliminar=<?= $socio['idSocio']?>">
            <span class="material-icons">delete</span>
          </a>
        </td>
        <td>
          <a class="btn btn-info btn-lg" href="editar_registro.php?id=<?= $socio['idSocio'] ?>">
            <span class="material-icons">update</span>
          </a>
        </td>
      </tr>
      <?php } ?>

      <!-- ========== Start Insertar Mongo ========== -->
      <tr>
        <form method="POST">
          <td><input type="text" name="idSocio"></td>
          <td><input type="text" name="nombre"></td>
          <td><input type="text" name="edad"></td>
          <td><input type="text" name="genero"></td>
          <td colspan="2">            
              <input  class="material-icons" type="submit" value="add_task" onclick="insetarSocio()">
          </td>
        </form>
      </tr>
      <!-- ========== End Insertar Mongo ========== -->
    </tbody>
  </table>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function eliminarSocio() {
    // Mostrar mensaje de confirmación
    var respuesta = confirm("¿Estás seguro de que deseas eliminar este socio?");
    // Si el usuario acepta
    if (respuesta) {
      // Continuar con la acción de eliminación
      location.href = event.target.href;
      // Esperar 1 milisegundo y luego recargar la página
      setTimeout(function() {
        location.reload();
      }, 1);
    } else {
      // Cancelar la acción de eliminación
      event.preventDefault();
    }
  }
  function insetarSocio() {
    // Mostrar mensaje de confirmación
    var respuesta = confirm("¿Estás seguro de que deseas ejecutar esta acción?");
    // Si el usuario acepta
    if (respuesta === true) {
      // Esperar 1 milisegundo y luego recargar la página
    setTimeout(function() {
        location.reload();
      }, 1);
    } else {
      return;
    }
  }
</script>