<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 250);
  }

  main {
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(60, 60, 60);
    padding: 10px;
    color: white;
  }

  footer {
    color: black;
    text-align: center;
  }
</style>
<div class="container mt-3">
  <h2></h2>
  <form method="POST">
    <div class="mb-3 mt-3">
      <label for="email">User:</label>
      <input type="username" class="form-control" placeholder="Enter username" name="user">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
