
    <div id="app">
        <h1>Polideportivos</h1>
        <a href="../index.html" class="btn">Volver al menú inicio</a>

        <div class="card-container">
            <?php foreach ($polideportivos as $polideportivo) { ?>
                <div class="card">
                    <img src="<?php echo $polideportivo['img']; ?>" alt="Imagen del polideportivo" />
                    <h3><?php echo $polideportivo['nombre']; ?></h3>
                    <p><strong>Localización:</strong> <?php echo $polideportivo['localizacion']; ?></p>
                    <p><strong>Teléfono:</strong> <?php echo $polideportivo['tlf']; ?></p>
                    
                </div>
            <?php } ?>
        </div>
    </div>
