<div class="container mt-3">
  <h2>Resultados</h2>
  <table class="table">
      <thead>
          <tr>
              <th>Nombre Socio</th>
              <th>Nombre Polideportivo</th>
          </tr>
      </thead>
      <tbody>
          <?php foreach ($sociosPorpolideportivos as $sociosPorpolideportivo) {
                  echo "<tr>";
                  echo "<td>" . $sociosPorpolideportivo['nombre_socio'] . "</td>";
                  echo "<td>" . $sociosPorpolideportivo['nombre_polideportivo'] . "</td>";
                  echo "</tr>";
          }
          ?>
      </tbody>
  </table>
</div>

<script>
  function getSociosPorPolideportivo() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              document.getElementById("resultados").innerHTML = this.responseText;
          }
      };
      xhttp.open("POST", "index.php", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("sociosPorPolideportivo=true");
  }
</script>